name: Generate-Readme
on:
  push:
    paths:
    - 'auto-readme/*.*'
jobs:
  lint:
    name: Generate-Readme-job
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7.1'
        bundler-cache: true
    - name: Pull script
      run: sh auto-readme/pull_script.sh
    - name: Run generation script
      run: |
        ruby auto-readme/generate.rb
    - name: Push new README.md
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add README.md
        git commit -m "Generated via Github actions"
        git push
