name: Generate-Readme
on:
  push:
    paths:
    - './*.*'
jobs:
  lint:
    name: Generate-Readme-job
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7.1'
        bundler-cache: true
    - name: run script
      run: |
        ruby auto-readme/generate.rb
    - name: push new README
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add 'README.md'
        git commit -m "generated"
        git push

    # - uses: EndBug/add-and-commit@v7
    #   with:
    #     add: 'README.md'
