name: Generate-Readme
on: push
  paths:
    - 'auto-readme/*.*'
jobs:
  lint:
    name: Generate-Readme-job
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7.2'
        bundler-cache: true
    - name: run script
      run: |
        ruby auto-readme/generate.rb

    - uses: EndBug/add-and-commit@v7
      with:
        add: 'README.md'
